.modules-zoom{position:relative;}
.modules-zoom .modules-zoom-pic{width:100%;height:100%;}
.modules-zoom  img{width:100%;height:100%;}
.modules-zoom .modules-zoom-picBlock{position:absolute;width:200px;height:200px;cursor:pointer;display:inline-block;}
.modules-zoom .modules-zoom-cursor{position:absolute;background:rgba(255,255,255,.2);z-index:50;display:none;}
.modules-zoom .modules-zoom-block{position:absolute;overflow:hidden;width:200px;height:200px;margin:auto;}
.modules-zoom .modules-zoom-bigPic{width:800px;height:800px;position:absolute;display:none;}